@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'), local('Gilroy'),
    url('Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'), local('Gilroy'),
    url('Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'), local('Gilroy'),
    url('Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
}
